@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

/* Drag and Drop Touch Fixes */
.sidebar-icon,
.grid-item-img,
.draggable-number,
.operator-btn,
.grid-slot,
.dropzone,
.trash-bin {
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
